[REPACK]

# Line-transition files:
lblfiles = ../inputs/1H-12C-14N__Harris.trans
           ../inputs/1H-13C-14N__Larner.trans

# Database type:
dbtype = exomol

# Output file name:
outfile = 0.3-33um

# Size of chunks to read:
chunksize = 35000000

# Wavenumber sampling (all in cm-1):
wnmin =   300.0 
wnmax = 33000.0
dwn   =     1.0

# Temperature sampling:
tmin  =  300.0
tmax  = 3000.0
dtemp =  900.0

# Line-intensity threshold for strong/weak lines:
sthresh = 0.01

# Maximum chunk size of lines to handle at a time:
chunksize = 20000000
